@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* @font-face {
  font-family: 'Yekan';
  src: url('./font/Yekan.ttf');
}

@font-face {
  font-family: 'Nazanin';
  src: url('./font/B-NAZANIN.TTF');
} */

@layer base {
  @font-face {
    font-family: 'Vazir';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./../public/font/Vazir.ttf") format('woff2');
  }
}
.vazir{
  font-family: 'Vazir';
}
.Fanum{
  font-family: 'Fanum' !important;
}
@font-face {
  font-family: "Vazir";
  src: url("./../public/font/Vazir.ttf");
}
@font-face {
  font-family: "Fanum";
  src: url("./../public/font/IRANSans-fanum.woff");
}

/* @font-face {
  font-family: 'Dana';
  src: url('./font/Dana-medium.woff');
} */

@font-face {
  font-family: "IRANSans";
  src: url("./../public/font/IRANSansWeb.cdb118d6.woff2");
}

body {
  margin: 0;
  font-family: "IRANSans", "Vazir", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

* {
  font-family: "IRANSans", "Vazir" !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  background-color: white;
}


.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 40px;
}
.lds-ellipsis div {
  position: absolute;
  top: 40%;
  transform: translateY(50%);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: white;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


      